* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgb(255, 103, 103);
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

h1 {
    margin-top: 20vh;
    font-size: 8vw;
    font-weight: 500;
    animation: move 3s;
    mix-blend-mode: screen;
    background-color: white;
    color: black;
    width: 60%;
    padding: 2vw;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}

h2 {
    font-size: 2vw;
    font-weight: 500;
    animation: fade 6s;
    z-index: 2;
}

h3 {
    font-size: 2vw;
    font-weight: 100;
    animation: fade 9s;
    z-index: 2;
}

@keyframes move {
    from {
        opacity: 0;
        margin-top: 30vh;
    }
    to {
        margin-top: 20vh;
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

canvas {
    position: absolute;
    background: none;
    z-index: 1;
    animation: fade 7s;
}

::selection {
    color: #fff;
    background-color: #ff8585;
}
